In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [3]:
ticker_symbol = '^GSPC'

start_date = '2018-06-25'
end_date = '2023-06-25'

data = yf.download(ticker_symbol, start=start_date, end=end_date)

data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-06-25,2742.939941,2742.939941,2698.669922,2717.070068,2717.070068,3663280000
2018-06-26,2722.120117,2732.909912,2715.600098,2723.060059,2723.060059,3568900000
2018-06-27,2728.449951,2746.090088,2699.379883,2699.629883,2699.629883,3803990000
2018-06-28,2698.689941,2724.340088,2691.989990,2716.310059,2716.310059,3461100000
2018-06-29,2727.129883,2743.260010,2718.030029,2718.370117,2718.370117,3586800000