In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

Download target data, which will be the S&P 500 Index

In [2]:
ticker_symbol = '^GSPC'

start_date = '2011-07-02'
end_date = '2023-07-02'

data = yf.download(ticker_symbol, start=start_date, end=end_date)

data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-07-05,1339.589966,1340.890015,1334.300049,1337.880005,1337.880005,3722320000
2011-07-06,1337.560059,1340.939941,1330.920044,1339.219971,1339.219971,3564190000
2011-07-07,1339.619995,1356.479980,1339.619995,1353.219971,1353.219971,4069530000
2011-07-08,1352.390015,1352.390015,1333.709961,1343.800049,1343.800049,3594360000
2011-07-11,1343.310059,1343.310059,1316.420044,1319.489990,1319.489990,3879130000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3018 entries, 2011-07-05 to 2023-06-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3018 non-null   float64
 1   High       3018 non-null   float64
 2   Low        3018 non-null   float64
 3   Close      3018 non-null   float64
 4   Adj Close  3018 non-null   float64
 5   Volume     3018 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 165.0 KB

In [4]:
data.drop_duplicates(inplace=True)

In [5]:
if data.isnull().values.any():
    data.dropna(inplace=True)
else:
    print('No null values found.')

No null values found.

In [6]:
if isinstance(data.index, pd.DatetimeIndex):
    print('DatetimeIndex already set.')
else:
    try:
        data.set_index('Date', inplace=True)
        data.index = pd.to_datetime(data.index)
        print('DatetimeIndex has been set.')
    except KeyError:
        print('Unable to set datetime index.')

DatetimeIndex already set.

In [7]:
data.sort_values(by='Date', inplace=True, ascending=False)

In [8]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-30,4422.439941,4458.479980,4422.439941,4450.379883,4450.379883,3923450000
2023-06-29,4374.939941,4398.390137,4371.970215,4396.439941,4396.439941,3696660000
2023-06-28,4367.479980,4390.350098,4360.220215,4376.859863,4376.859863,3739330000
2023-06-27,4337.359863,4384.419922,4335.000000,4378.410156,4378.410156,3573500000
2023-06-26,4344.839844,4362.060059,4328.080078,4328.819824,4328.819824,3415030000

In [9]:
data.to_csv('/Users/jotech/Milestone Repo/milestone-project-5/data/clean_stock.csv')