In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

Download target data, which will be the S&P 500 Index

In [2]:
target_symbol = '^GSPC'

start_date = '2020-07-02'
end_date = '2023-07-02'

data = yf.download(target_symbol, start=start_date, end=end_date)

data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-07-02,3143.639893,3165.810059,3124.520020,3130.010010,3130.010010,4197720000
2020-07-06,3155.290039,3182.590088,3155.290039,3179.719971,3179.719971,4759160000
2020-07-07,3166.439941,3184.149902,3142.929932,3145.320068,3145.320068,4571330000
2020-07-08,3153.070068,3171.800049,3136.530029,3169.939941,3169.939941,4937310000
2020-07-09,3176.169922,3179.780029,3115.699951,3152.050049,3152.050049,4843650000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 754 entries, 2020-07-02 to 2023-06-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       754 non-null    float64
 1   High       754 non-null    float64
 2   Low        754 non-null    float64
 3   Close      754 non-null    float64
 4   Adj Close  754 non-null    float64
 5   Volume     754 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 41.2 KB

In [4]:
data.drop_duplicates(subset=None, inplace=True)

In [5]:
if data.isnull().values.any():
    data.dropna(inplace=True)
else:
    print('No null values found.')

No null values found.

In [6]:
if isinstance(data.index, pd.DatetimeIndex):
    print('DatetimeIndex already set.')
else:
    try:
        data.set_index('Date', inplace=True)
        data.index = pd.to_datetime(data.index)
        print('DatetimeIndex has been set.')
    except KeyError:
        print('Unable to set datetime index.')

DatetimeIndex already set.

In [7]:
data.sort_values(by='Date', inplace=True, ascending=True)

In [8]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-07-02,3143.639893,3165.810059,3124.520020,3130.010010,3130.010010,4197720000
2020-07-06,3155.290039,3182.590088,3155.290039,3179.719971,3179.719971,4759160000
2020-07-07,3166.439941,3184.149902,3142.929932,3145.320068,3145.320068,4571330000
2020-07-08,3153.070068,3171.800049,3136.530029,3169.939941,3169.939941,4937310000
2020-07-09,3176.169922,3179.780029,3115.699951,3152.050049,3152.050049,4843650000

In [9]:
data.drop(['Open', 'High', 'Low', 'Adj Close', 'Volume'], axis=1, inplace=True)

In [10]:
data.to_csv('/Users/jotech/Milestone Repo/milestone-project-5/data/clean_stock.csv')