In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [3]:
ticker_symbol = '^GSPC'

start_date = '2018-06-25'
end_date = '2023-06-25'

data = yf.download(ticker_symbol, start=start_date, end=end_date)

data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-06-25,2742.939941,2742.939941,2698.669922,2717.070068,2717.070068,3663280000
2018-06-26,2722.120117,2732.909912,2715.600098,2723.060059,2723.060059,3568900000
2018-06-27,2728.449951,2746.090088,2699.379883,2699.629883,2699.629883,3803990000
2018-06-28,2698.689941,2724.340088,2691.989990,2716.310059,2716.310059,3461100000
2018-06-29,2727.129883,2743.260010,2718.030029,2718.370117,2718.370117,3586800000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2018-06-25 to 2023-06-23
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1258 non-null   float64
 1   High       1258 non-null   float64
 2   Low        1258 non-null   float64
 3   Close      1258 non-null   float64
 4   Adj Close  1258 non-null   float64
 5   Volume     1258 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 68.8 KB

In [5]:
data.drop_duplicates(inplace=True)

In [6]:
if data.isnull().values.any():
    data.dropna(inplace=True)
else:
    print('No null values found.')

No null values found.

In [7]:
if isinstance(data.index, pd.DatetimeIndex):
    print('DatetimeIndex already set.')
else:
    try:
        data.set_index('Date', inplace=True)
        data.index = pd.to_datetime(data.index)
        print('DatetimeIndex has been set.')
    except KeyError:
        print('Unable to set datetime index.')

DatetimeIndex already set.

In [8]:
data.sort_values(by='Date', inplace=True, ascending=False)

In [11]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-23,4354.169922,4366.549805,4341.339844,4348.330078,4348.330078,6053620000
2023-06-22,4355.399902,4382.250000,4351.819824,4381.890137,4381.890137,3511000000
2023-06-21,4380.009766,4386.220215,4360.140137,4365.689941,4365.689941,3709330000
2023-06-20,4396.109863,4400.149902,4367.189941,4388.709961,4388.709961,4055790000
2023-06-16,4440.950195,4448.470215,4407.439941,4409.589844,4409.589844,6848600000

In [14]:
data.to_csv('/Users/jotech/Milestone Repo/milestone-project-5/data/clean_stock.csv')