In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

Download target data, which will be the S&P 500 Index

In [2]:
target_symbol = '^GSPC'

start_date = '2020-07-02'
end_date = '2023-07-02'

data = yf.download(target_symbol, start=start_date, end=end_date)

data.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Adj Close
Date,,,,,,,
2020-07-02,0.027935,0.030129,0.027517,0.029416,0.029416,4199770,NaN
2020-07-03,0.029431,0.031571,0.028921,0.030697,0.030697,5332319,NaN
2020-07-04,0.030695,0.031385,0.029335,0.029666,0.029666,3477456,NaN
2020-07-05,0.029699,0.030122,0.028005,0.028182,0.028182,3347673,NaN
2020-07-06,0.028182,0.031628,0.027908,0.031323,0.031323,4370416,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1095 entries, 2020-07-02 to 2023-07-01
Freq: D
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1095 non-null   float64
 1   High       1095 non-null   float64
 2   Low        1095 non-null   float64
 3   Close      1095 non-null   float64
 4   Adj Close  1095 non-null   float64
 5   Volume     1095 non-null   int64
 6   Adj Close  691 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 68.4 KB

In [4]:
data.drop_duplicates(subset=None, inplace=True)

In [5]:
if data.isnull().values.any():
    data.dropna(inplace=True)
else:
    print('No null values found.')

In [6]:
if isinstance(data.index, pd.DatetimeIndex):
    print('DatetimeIndex already set.')
else:
    try:
        data.set_index('Date', inplace=True)
        data.index = pd.to_datetime(data.index)
        print('DatetimeIndex has been set.')
    except KeyError:
        print('Unable to set datetime index.')

DatetimeIndex already set.

In [7]:
data.sort_values(by='Date', inplace=True, ascending=False)

In [8]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Adj Close
Date,,,,,,,
2023-06-30,0.218340,0.231158,0.210436,0.227044,0.227044,55912510,91.271896
2023-06-29,0.214351,0.224398,0.214351,0.218360,0.218360,22836398,91.159698
2023-06-28,0.233995,0.234257,0.211709,0.214415,0.214415,36907642,91.601898
2023-06-27,0.219835,0.237009,0.219374,0.233982,0.233982,51781591,91.564903
2023-06-26,0.228072,0.232684,0.217357,0.219815,0.219815,35023459,91.764503

In [9]:
data.to_csv('/Users/jotech/Milestone Repo/milestone-project-5/data/clean_stock.csv')