In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('/Users/jotech/Milestone Repo/milestone-project-5/data/clean_stock.csv')
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

In [4]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-23,4354.169922,4366.549805,4341.339844,4348.330078,4348.330078,6053620000
2023-06-22,4355.399902,4382.250000,4351.819824,4381.890137,4381.890137,3511000000
2023-06-21,4380.009766,4386.220215,4360.140137,4365.689941,4365.689941,3709330000
2023-06-20,4396.109863,4400.149902,4367.189941,4388.709961,4388.709961,4055790000
2023-06-16,4440.950195,4448.470215,4407.439941,4409.589844,4409.589844,6848600000

In [5]:
scaler = MinMaxScaler(feature_range=(0, 1))
df_scaled = scaler.fit_transform(df['Close'].values.reshape(-1, 1))
df['Scaled Closed'] = df_scaled

In [6]:
X = df_scaled[:-1]
y = df_scaled[1:]

In [7]:
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.2, shuffle=False)